//
//  nvRNAppConfig.debug.xcconfig
//  nvRNSDKLiveAccountTestApp
//
//  Created by Notifyvisitors Macbook Air 4 on 18/11/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "nvSecrets.xcconfig"
#include "Pods/Target Support Files/Pods-nvRNSDKLiveAccountTestApp/Pods-nvRNSDKLiveAccountTestApp.debug.xcconfig"

