//
//  nvSecrets.xcconfig
//  nvRNSDKLiveAccountTestApp
//
//  Created by Notifyvisitors Macbook Air 4 on 18/11/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
NV_BRAND_ID = 7577
NV_BRAND_ENCRYPTION_KEY = DB52A5B00BB0D3BF426639A1B9FCF2F7

